<<<<<<< HEAD
*{
    margin:0;
    padding:0;
    box-sizing:border-box
}


body,p,div{
    background-color: azure;
}
p{
    color: blueviolet;
    background-color: aquamarine;
}
#descricao-css{
    font-weight: bold;
}
.titulo{
    font-size: 20pt;
}
[for="nome"],[type="submit"]{
    color:rgb(129, 6, 58);
}
[type="submit"]:hover{
    background-color: blue;
    color: rgb(255, 255, 255);
    font-size: 15pt;
}
=======
/** seletor{ propriedade:valor;} **/
p{
    background-color: rgb(151, 231, 22);
}
#tituloformacss{
    background-color: bisque;
}
>>>>>>> cd7863bc5af1240b975a23eeb183bcd1646856ed
