* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-image: url('ifsc.webp'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}

h2 {
    color: #fff;
    font-size: 28px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

form {
    background-color: rgba(255, 255, 255, 0.95); 
    padding: 40px 35px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    width: 360px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
}



#espacoNome,
#espacoSenha {
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 14px 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;

}

input[type="text"]:focus,
input[type="password"]:focus {
    box-shadow: 0 0 8px rgba(37,117,252,0.4);
    outline: none;
}


#botao button {
    width: 100%;
    padding: 14px;
    background-color: #1d9b23;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    cursor: pointer;
}

#botao button:hover {
    transform: scale(1.03);
}

::placeholder {
    color: #aaa;
    
}
